<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Wall of Riddles</title>
        <meta charset="UTF-8" />
        <link th:href="@{/css/skeleton.css}" rel="stylesheet" />
        <link th:href="@{/css/normalize.css}" rel="stylesheet" />
        <link th:href="@{/css/wallofriddles.css}" rel="stylesheet" />
        <script th:src="@{/js/jquery.js}" type="text/javascript" />
        <script th:src="@{/js/wallofriddles.js}" type="text/javascript" />
    </head>
    <body>
        <div class="centered">
            <p th:text="${warning}"></p>
            <div id="createRiddle" class="hidden">
                <button onclick="showRiddles();">Go Back</button>
                <h2>Create a New Riddle</h2>
                <form id="riddleform" th:method="POST" th:action="@{/}">
                    <p><input type="text" placeholder="Creator" name="creator" /></p>
                    <p><textarea form="riddleform" rows="25" placeholder="Riddle Description"  name="description" /></p>
                    <p><input type="text" placeholder="Correct Answer" name="answer" /></p>
                    <p><input type="submit" value="Add new riddle!"/></p>
                </form>
            </div>
            <div id="riddles">
                <button onclick="showCreateRiddle();">Create a New Riddle!</button>
                <h2>Wall of Riddles</h2>
                <div class="bordered" th:each="riddle: ${riddles}">
                    <p><b>Riddle:</b> <span th:text="${riddle.description}" /></p>
                    <p><b>Created by:</b> <span th:text="${riddle.creator}" /></p>
                    <p><span th:utext="${riddle.correctGuesses}" /> correct answers and <span th:utext="${riddle.wrongGuesses}" /> incorrect answers so far...</p>
                    <form id="answerform" th:method="POST" th:action="@{/answer/{riddleId}(riddleId=${riddle.id})}">
                        <p><input type="text" placeholder="Your Answer?" name="ownAnswer" /><input type="submit" value="Answer!"/></p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
